html, body{
    max-width: 100vw;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.header {
    width: 100vw;
    background-color: #2e3192;
}

.judul{
    display: flex;
    width: 100vw;
    align-items: center;
}

p.judul::after{
    white-space: nowrap;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
}

