html, body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}


.header {
    width: 100%;
    background-color: #073C64;
    height: 80px;
    z-index: 1000;
    position: fixed;
}
nav.sticky{
    margin-top: -40px;
    width: 100vw;
    background-color: #073C64;
    height: 80px;
    transition: 0.2s;

}
.header img{
    margin-left: 140px;
    height: 80px;
    width: 200px;
}
.nav-content{
    background-color: #1A2C43;
    padding-right:  160px;
    height: 40px;
}
.nav-content ul{
    display: block;
    float: right;
}
.nav-content ul li{
    list-style: none;
    display: inline-block;
}
.nav-content ul li a{
    padding: 8px 10px ;
    color: white;
    
}
.nav-content ul li a:hover{
    color: yellow;

}
.navbar2 ul li .dropdown-menu{
    display: none;
}
.navbar2 ul li:hover .dropdown-menu{
    display: block;
    background: #073C64;
    position: absolute;
}
.navbar2 ul li:hover .dropdown-menu li a{
    border-radius: 5px;
}
.navbar2 ul li:hover .dropdown-menu li a:hover{
    background: none;
    box-shadow: none;
}
.navbar2{
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
}
.navbar2 ul li a {
    color: aliceblue;
    padding-top: 15px;
}
.navbar2 ul li a:hover{
    color: yellow;
}
.navbar2 input{
    margin-top: 15px;
    width: 190px;
    margin-right: 45px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    appearance: none;
}
.navbar2 input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
.navbar2 input::-moz-search-cancel-button{
    -moz-appearance: none;
}
.navbar2 input::-ms-clear{
    display: none;
}
.dropdown-menu a{
    color: aliceblue;
}
.search .icon{
    position: absolute;
    right: 11px;
    font-size: 1.4em;
    color: black;
    line-height: 57px;
    margin-right: 5px;
    top: 9px;

}
.search button{
    color: black;
    background-color: transparent;
    width: 40px;
    height: 50px;
    box-shadow: none;
    border: none;
    margin-right: 150px;
    
}

.judul{
    display: flex;
    width: 100vw;
    align-items: center;
}

p.judul::after{
    /* white-space: nowrap; */
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
    margin-left: 5px;
}

.containerberita{
    margin-top: 30px;
}
p.judul{
    font-size: 1.2rem;
}
.hero h1{
    color: white;
    font-weight: bold;
    margin-left: 150px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 125px;
    font-size: 50px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.511);
    font-family: Arial, Helvetica, sans-serif;
    
}
.hero{
    margin-top: 80px;
    display: flex;
}
.hero img{
    width: 100vw;
    height: 540px;
}

.box-news{
    background: #EEE;
    width: 330px;
    margin-top: 200px;
}
.box-news .titlehead{
    background: #013880;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    padding: 20px 30px;
}
.box-news ul{
    padding: 30px;
    padding-bottom: 0px;
}
.box-news ul li{
    list-style: none;
    margin-bottom: 30px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
.box-news ul li a{
    color: #000;
}
.box-news ul li a:hover{
    text-decoration: underline;
}
.box-news ul li .read-more{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #000;
    font-size: 12px;
    padding: 0px 10px;
    margin-left: 70px;
    display: inline-block;
    border-top-right-radius: 25% 15px;
    border-bottom-right-radius: 25% 15px;
    text-align: end;
}
.box-news ul li .read-more:hover{
    color: yellow;
}
.col-xs-6{
    width: 50%;
}
.read-more .fa{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.box-news .row{
    margin-right: -15px;
    margin-left: -15px;
}

.profazreyeni{
    padding-top: 0px;
    margin-left: 150px;
}

.isiberita img{
    display:flex;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.isiberita p{   
    padding-top: 10px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
.isiberita .atas{
    padding-top: 50px;
}
.judulberita1{
    font-family: Arial, Helvetica, sans-serif;
}
.judulberita1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
}
.share{
    margin-top: 50px;
    
}
.media-share{
    display: flex;
    gap: 20px;
}

.media-share a{
	color: #000000;
	font-size: 1.6em;
	transition: 0.3s ease;
}
  
  .media-share a:not(:last-child){
	margin-bottom: 20px;
}
  
  .media-share a:hover{
	transform: scale(1.3);
}
.footer{
    padding-left: 75px;
    margin-top: 100px;
    background-color: #073C64;
    height: 400px;   
}

.footer img{
    margin-top: 70px;
    width: 95px;
    height: 90px;
}
.cols p{
    color:aliceblue;
}
.cols a{
    color:aliceblue;
}
.foot1{
    padding-left: 50px;
    color: white;
} 
.foot2{
    padding: 50px;
    color: white;
}
.foot2 a{
    color: white;
}
.foot2 hr{
    width: 250px;
    border-top: 5px solid yellow;
    opacity: 0.8;
}
.foot2 ul li{
    text-decoration: none;
    list-style: none;
    margin-left: -30px;
    line-height: 40px;
}
.foot2 ul li a:hover{
    color: yellow;
}

.foot3{
    padding: 50px;
    color: white;
}
.foot3 a{
    color: white;
}
.foot3 hr{
    width: 250px;
    border-top: 5px solid yellow;
    opacity: 0.8;
}
.foot3 ul li{
    text-decoration: none;
    list-style: none;
    margin-left: -30px;
    line-height: 40px;
}
.foot3 ul li a:hover{
    color: yellow;
}
.fot{
    padding-top: 20px;
    color: yellow;
    font-weight: bold;
}
.foot{
    margin-top: -10px;
    line-height: 30px;
}
.copyright{
    background-color: #1A2C43;
    width: 100%;
    height: 52px;
    
}
.copyright p{
    color: rgb(253, 253, 253);
    text-align: center;
    padding-top: 10px;
}
.copyright hr{
    border-width: 1px;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #073C64;
    color: white;
    bottom: 60px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.arrow:hover{
    color: white;
}







nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: white;
    position: fixed;
}

nav .closeMenu {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: white;
    position: fixed;
}

.nav-mobile {
    position: fixed;
    display: block;
    background-color: #1a2c43;
    width: 300px;
    margin-left: 0px;
    margin-top: -10px;
    height: 850px;
    z-index: 1000;
    left: -100%;
    transition: all 0.3s ease-in;
    overflow-y: auto;
}

/* .nav-mobile .slide{
    transform: translateX(0);
}
     */

.nav-mobile h4 {
    font-size: 30px;
    padding-top: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.nav-mobile p {
    color: #ffbd07;
    text-align: center;
}

.tiunri {
    display: flex;
    flex-direction: column;
}

.tiunri hr {
    margin: 0 auto;
    width: 200px;
    border-top: 3px solid#073C64;
}

.nav-mobile ul li {
    margin-left: 15px;
}

.nav-mobile ul li a {
    color: white;
    line-height: 50px;
    margin-left: 20px;

}


.nav-mobile ul li .dropdown-menu2 {
    display: block;
    transform: translateY(-10px);
    opacity: 0;
    position: absolute;

}

.nav-mobile ul li:hover .dropdown-menu2 {
    display: block;
    background: #1a2c43;
    position: relative;
    border: none;
    margin-left: -20px;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    top: 0;
}

/* .nav-mobile ul li:hover .dropdown-menu2 .fa-sharp{
    position: absolute;
    display: block;
    
} */

.nav-mobile ul li:hover .dropdown-menu2 li a {
    border-radius: 5px;
    top: -100%;
    transition: 0.5s;
}

.nav-mobile ul li:hover .dropdown-menu2 li a:hover {
    background: none;
    box-shadow: none;
    transition: 0.5s;

}

.nav-mobile ul li a:hover .fa-sharp:hover {
    transform: rotate(180deg);
    text-decoration: underline;
    transition: transform 0.5s;
}


.nav-mobile img {
    width: 100px;
    height: 100px;
}

.nav-mobile ul li a:hover {
    color: yellow;
}

nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: white;
    position: fixed;
}

nav .closeMenu {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: white;
    position: fixed;
}

nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: white;
    position: fixed;
}

nav .closeMenu {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: white;
    position: fixed;
}


@media screen and (max-width: 360px) {


    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    nav.sticky {
        margin-top: 0px;
        width: 100vw;
        background-color: #073c64;
        height: 80px;
        transition: 0.2s;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .header {
        height: 60px;
    }

    .header img {
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .nav-mobile input {
        margin-top: 15px;
        width: 200px;
        margin-right: 45px;
        margin-left: 35px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
        margin-bottom: 20px;
    }

    .nav-mobile input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .nav-mobile input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .nav-mobile input::-ms-clear {
        display: none;
    }

    .search2 .icon {
        position: absolute;
        right: 17px;
        font-size: 1.4em;
        color: black;
        line-height: 57px;
        margin-right: 5px;
        top: 9px;
    }

    .search2 button {
        color: black;
        background-color: transparent;
        width: 40px;
        height: 50px;
        box-shadow: none;
        border: none;
        margin-top: 170px;
        margin-right: 30px;

    }

    .navbar2 input {
        margin-top: 15px;
        width: 190px;
        margin-right: 45px;
        margin-left: 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
    }

    .navbar2 input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .navbar2 input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .navbar2 input::-ms-clear {
        display: none;
    }

    .dropdown-menu a {
        color: aliceblue;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .navbar2 ul li {
        display: none;
    }

    .header {
        height: 60px;
        position: fixed;
    }

    .header img {
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .navbar2 .search {
        display: none;
    }

    .footer {
        margin-top: 50px;
        height: 1000px;
        display: flex;
        margin-left: -130px;
        margin-right: 0px;
    }

    .foot1 {
        padding-top: 50px;
        text-align: center;
    }

    .foot2 {
        margin-left: -41px;
    }

    .foot3 {
        margin-left: -41px;
    }

    .footer img {
        margin-top: -10px;
        margin-right: 10px;
    }

    .footer .foot {
        margin-top: -10px;
        margin-right: 10px;
    }

    .foot1 .fot {
        text-align: center;
        margin-left: -10px;
    }

    .foot2 p {
        margin-left: 15px;
        text-align: center;
    }

    .foot2 hr {
        margin-left: 50px;
    }

    .foot2 ul li {
        text-align: center;
    }

    .foot3 p {
        margin-top: -60px;
        margin-left: 10px;
        text-align: center;
    }

    .foot3 hr {
        margin-left: 50px;
    }

    .foot3 ul li {
        text-align: center;
    }

 

    .hero {
        position: relative;
        overflow: hidden;
        top: -20px;
    }

    .hero img {
        width: 365px;
        height: 250px;
        object-fit: cover;
    }

    .hero h1 {
        position: absolute;
        z-index: 10;
        margin-left: -30px;
        font-size: 27px;
        width: 330px;
        bottom: -20px;
    }

    .Sejarah {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
    }

    .sidebar {
        margin-top: -60px;
        width: 319px;
        height: 450px;
    }

    .sidebar hr {
        width: 255px;
    }

    .sidebar ul li {
        font-size: 12px;
    }

    .sejarah {
        margin-right: 20px;
    }

    .sejarah h3 {
        margin-top: 0px;
        width: 320px;
        font-size: 15px;
        font-weight: 700;
        margin: -70px 0px 0 0px;
    }

    .sejarah p {
        line-height: 30px;
        width: 320px;
        margin: 0 0px 0 0px;
    }

    .sejarah ol li {
        margin-left: -10px;
        width: 300px;
        line-height: 30px;
    }

    .sejarah ul li {
        margin-left: -15px;
        width: 270px;
        line-height: 30px;
    }

    .sejarah .akreditas {
        width: 420px;
    }



    .containerberita {
        margin-top: 30px;
    }

    #eventlist {
        margin: 0 0 0 0;
    }

    .col-sm-6 {
        width: 150px;
        margin-left: 15px;
    }

    .col-sm-12 figure img {
        width: 330px;
        height: 250px;
        object-fit: cover;
        border: 2px solid #231f20;
    }

    .col-sm-12 h2 {
        font-size: 18px;
        font-weight: 650;
    }

    #eventlist h2 a {
        color: black;
    }

    #eventlist h2 a:hover {
        text-decoration: underline;
    }

    #eventlist p {
        font-size: 15px;
        text-align: left;
    }

    .col-sm-6 .Read1 {
        margin-top: 3px;
    }

    .col-sm-6 .Read4 {
        margin-top: 22px;
    }

    .btn-round-right {
        display: inline-block;
        border-top-right-radius: 5% 15px;
        border-bottom-right-radius: 5% 15px;
        background: #FFBD07;
        padding: 8px 40px;
        font-family: 'AvenirNextLTPro-DemiCn';
        font-size: 15px;
        text-align: center;
        color: #231f20;
        margin-bottom: 25px;
    }

    .col-md-4 {
        margin-left: 15px;
    }

    .box-news {
        background: #EEE;
        width: 330px;
        margin-top: 10px;
    }

    .box-news .titlehead {
        background: #013880;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #ffffff;
        padding: 20px 30px;
    }

    .box-news ul {
        padding: 30px;
        padding-bottom: 0px;
    }

    .box-news ul li {
        list-style: none;
        margin-bottom: 30px !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
    }

    .box-news ul li a {
        color: #000;
    }

    .box-news ul li a:hover {
        text-decoration: underline;
    }

    .box-news ul li .read-more {
        font-family: Arial, Helvetica, sans-serif;
        color: #FFF;
        background: #000;
        font-size: 12px;
        padding: 0px 10px;
        margin-left: 70px;
        display: inline-block;
        border-top-right-radius: 25% 15px;
        border-bottom-right-radius: 25% 15px;
        text-align: end;
    }

    .box-news ul li .read-more:hover {
        color: yellow;
    }

    .col-xs-6 {
        width: 50%;
    }

    .read-more .fa {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .box-news .row {
        margin-right: -15px;
        margin-left: -15px;
    }


    .profazreyeni{
        padding-top: 0px;
        margin-left: 0px;
    }
    .judulberita1 h1{
        margin-left: 15px;
        margin-right: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
    }
    .isiberita img{
        display:flex;
        margin-top: 0px;
        width: 330px;
        height: 300px;
        object-fit: cover;
    }
    .isiberita p{   
        padding-top: 10px;
        padding-right: 50px;
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-right: -30px;
    
    }
    .share{
        margin-top: 50px;
        margin-left: 15px;
    }


}


@media (min-width: 361px) and (max-width: 399px) {


    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    nav.sticky {
        margin-top: 0px;
        width: 100vw;
        background-color: #073c64;
        height: 80px;
        transition: 0.2s;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .header {
        height: 60px;
    }

    .header img {
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .nav-mobile input {
        margin-top: 15px;
        width: 200px;
        margin-right: 45px;
        margin-left: 35px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
        margin-bottom: 20px;
    }

    .nav-mobile input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .nav-mobile input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .nav-mobile input::-ms-clear {
        display: none;
    }

    .search2 .icon {
        position: absolute;
        right: 17px;
        font-size: 1.4em;
        color: black;
        line-height: 57px;
        margin-right: 5px;
        top: 9px;
    }

    .search2 button {
        color: black;
        background-color: transparent;
        width: 40px;
        height: 50px;
        box-shadow: none;
        border: none;
        margin-top: 170px;
        margin-right: 30px;

    }

    .navbar2 input {
        margin-top: 15px;
        width: 190px;
        margin-right: 45px;
        margin-left: 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
    }

    .navbar2 input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .navbar2 input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .navbar2 input::-ms-clear {
        display: none;
    }

    .dropdown-menu a {
        color: aliceblue;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .navbar2 ul li {
        display: none;
    }

    .header {
        height: 60px;
        position: fixed;
    }

    .header img {
        width: 120px;
        height: 40px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .navbar2 .search {
        display: none;
    }
    .footer {
        margin-top: 50px;
        height: 1000px;
        display: flex;
    }

    .foot1 {
        margin-left: -48px;
    }

    .foot2 {
        margin-left: -48px;
    }

    .foot3 {
        margin-left: -48px;
    }

    .footer img {
        margin-top: 80px;
        margin-left: 15px;
    }

    .foot1 .fot {
        margin-left: -7px;
    }

    .foot1 .foot {
        text-align: center;
        margin-left: -145px;
    }

    .foot2 p {
        margin-left: 0px;
    }

    .foot2 hr {
        margin-left: -50px;
    }

    .foot2 ul li {
        text-align: center;
        margin-left: -140px;
    }

    .foot3 p {
        margin-top: -60px;
        margin-left: 31px;
    }

    .foot3 hr {
        margin-left: -50px;
    }

    .foot3 ul li {
        text-align: center;
        margin-left: -130px;
    }


    .hero {
        position: relative;
        overflow: hidden;
        top: -20px;
    }

    .hero img {
        width: 405px;
        height: 250px;
        object-fit: cover;
    }

    .hero h1 {
        position: absolute;
        z-index: 10;
        margin-left: -30px;
        font-size: 30px;
        width: 330px;
        bottom: -20px;
    }

    .Sejarah {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
    }

    .sidebar {
        margin-top: -60px;
        width: 340px;
        height: 480px;
    }

    .sidebar hr {
        width: 285px;
    }

    .sidebar ul li {
        font-size: 15px;
    }

    .sejarah {
        margin-right: 20px;
    }

    .sejarah h3 {
        margin-top: 0px;
        width: 350px;
        font-size: 15px;
        font-weight: 700;
        margin: -70px 0px 0 0px;
    }

    .sejarah p {
        line-height: 30px;
        width: 350px;
        margin: 0 0px 0 0px;
    }

    .sejarah ol li {
        margin-left: -5px;
        width: 320px;
        line-height: 30px;
    }

    .sejarah ul li {
        margin-left: -10px;
        width: 290px;
        line-height: 30px;
    }

    .sejarah .akreditas {
        width: 450px;
    }



    .containerberita {
        margin-top: 30px;
    }

    #eventlist {
        margin: 0 0 0 0;
    }

    .col-sm-6 {
        width: 180px;
        margin-left: 15px;
    }

    .col-sm-12 figure img {
        width: 360px;
        height: 300px;
        object-fit: cover;
        border: 2px solid #231f20;
    }

    .col-md-6 h2 {
        font-size: 18px;
        font-weight: 650;
    }

    #eventlist h2 a {
        color: black;
    }

    #eventlist h2 a:hover {
        text-decoration: underline;
    }

    #eventlist p {
        font-size: 15px;
        text-align: left;
    }

    .col-sm-6 .Read1 {
        margin-top: 42px;
    }

    .col-sm-6 .Read4 {
        margin-top: 2px;
    }

    .btn-round-right {
        display: inline-block;
        border-top-right-radius: 5% 15px;
        border-bottom-right-radius: 5% 15px;
        background: #FFBD07;
        padding: 8px 40px;
        font-family: 'AvenirNextLTPro-DemiCn';
        font-size: 15px;
        text-align: center;
        color: #231f20;
        margin-bottom: 25px;
    }

    .col-md-4 {
        margin-left: 15px;
    }

    .box-news {
        background: #EEE;
        width: 340px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .box-news .titlehead {
        background: #013880;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #ffffff;
        padding: 20px 30px;
    }

    .box-news ul {
        padding: 30px;
        padding-bottom: 0px;
    }

    .box-news ul li {
        list-style: none;
        margin-bottom: 30px !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
    }

    .box-news ul li a {
        color: #000;
    }

    .box-news ul li a:hover {
        text-decoration: underline;
    }

    .box-news ul li .read-more {
        font-family: Arial, Helvetica, sans-serif;
        color: #FFF;
        background: #000;
        font-size: 12px;
        padding: 0px 10px;
        margin-left: 70px;
        display: inline-block;
        border-top-right-radius: 25% 15px;
        border-bottom-right-radius: 25% 15px;
        text-align: end;
    }

    .box-news ul li .read-more:hover {
        color: yellow;
    }

    .col-xs-6 {
        width: 50%;
    }

    .read-more .fa {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .box-news .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    

    .profazreyeni{
        padding-top: 0px;
        margin-left: 0px;
    }
    .judulberita1 h1{
        margin-left: 15px;
        margin-right: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
    }
    .isiberita img{
        display:flex;
        margin-top: 0px;
        width: 330px;
        height: 300px;
        object-fit: cover;
    }
    .isiberita p{   
        padding-top: 10px;
        padding-right: 50px;
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-right: -30px;
    
    }
    .share{
        margin-top: 50px;
        margin-left: 15px;
    }

}



@media (min-width: 400px) and (max-width: 420px) {


    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    nav.sticky {
        margin-top: 0px;
        width: 100vw;
        background-color: #073c64;
        height: 80px;
        transition: 0.2s;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        margin-top: 20px;
        right: 10px;
        opacity: 0;
        position: fixed;
    }

    nav .openMenu {
        display: block;
        right: 10px;
        position: fixed;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .header {
        height: 60px;
    }

    .header img {
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .nav-mobile input {
        margin-top: 15px;
        width: 200px;
        margin-right: 45px;
        margin-left: 35px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
        margin-bottom: 20px;
    }

    .nav-mobile input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .nav-mobile input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .nav-mobile input::-ms-clear {
        display: none;
    }

    .search2 .icon {
        position: absolute;
        right: 17px;
        font-size: 1.4em;
        color: black;
        line-height: 57px;
        margin-right: 5px;
        top: 9px;
    }

    .search2 button {
        color: black;
        background-color: transparent;
        width: 40px;
        height: 50px;
        box-shadow: none;
        border: none;
        margin-top: 170px;
        margin-right: 30px;

    }

    .navbar2 input {
        margin-top: 15px;
        width: 190px;
        margin-right: 45px;
        margin-left: 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        appearance: none;
    }

    .navbar2 input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .navbar2 input::-moz-search-cancel-button {
        -moz-appearance: none;
    }

    .navbar2 input::-ms-clear {
        display: none;
    }

    .dropdown-menu a {
        color: aliceblue;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-content {
        display: none;
    }

    .nav-content ul li {
        display: none;
    }

    .navbar2 ul li {
        display: none;
    }

    .header {
        height: 60px;
        position: fixed;
    }

    .header img {
        width: 120px;
        height: 40px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .navbar2 .search {
        display: none;
    }

    .footer {
        margin-top: 50px;
        height: 1000px;
        display: flex;
    }

    .foot1 {
        margin-left: -48px;
    }

    .foot2 {
        margin-left: -48px;
    }

    .foot3 {
        margin-left: -48px;
    }

    .footer img {
        margin-top: 80px;
        margin-left: 35px;
    }

    .foot1 .fot {
        margin-left: 13px;
    }

    .foot1 .foot {
        text-align: center;
        margin-left: -130px;
    }

    .foot2 p {
        margin-left: 13px;
    }

    .foot2 hr {
        margin-left: -40px;
    }

    .foot2 ul li {
        text-align: center;
        margin-left: -130px;
    }

    .foot3 p {
        margin-top: -60px;
        margin-left: 45px;
    }

    .foot3 hr {
        margin-left: -40px;
    }

    .foot3 ul li {
        text-align: center;
        margin-left: -130px;
    }
    .hero {
        position: relative;
        overflow: hidden;
        top: -20px;
    }

    .hero img {
        width: 425px;
        height: 250px;
        object-fit: cover;
    }

    .hero h1 {
        position: absolute;
        z-index: 10;
        margin-left: -30px;
        font-size: 30px;
        width: 330px;
        bottom: -20px;
    }

    .Sejarah {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
    }

    .sidebar {
        margin-top: -60px;
        width: 372px;
        height: 480px;
    }

    .sidebar hr {
        width: 300px;
    }

    .sidebar ul li {
        font-size: 15px;
    }

    .sejarah {
        margin-right: 20px;
    }

    .sejarah h3 {
        margin-top: 0px;
        width: 370px;
        font-size: 15px;
        font-weight: 700;
        margin: -70px 0px 0 0px;
    }

    .sejarah p {
        line-height: 30px;
        width: 370px;
        margin: 0 0px 0 0px;
    }

    .sejarah ol li {
        margin-left: -5px;
        width: 340px;
        line-height: 30px;
    }

    .sejarah ul li {
        margin-left: -10px;
        width: 310px;
        line-height: 30px;
    }

    .sejarah .akreditas {
        width: 470px;
    }


    .containerberita {
        margin-top: 30px;
    }

    #eventlist {
        margin: 0 0 0 0;
    }

    .col-sm-6 {
        width: 180px;
        margin-left: 15px;
    }

    .col-sm-12 figure img {
        width: 390px;
        height: 300px;
        object-fit: cover;
        border: 2px solid #231f20;
    }

    .col-md-6 h2 {
        font-size: 18px;
        font-weight: 650;
    }

    #eventlist h2 a {
        color: black;
    }

    #eventlist h2 a:hover {
        text-decoration: underline;
    }

    #eventlist p {
        font-size: 15px;
        text-align: left;
    }

    .col-sm-6 .Read1 {
        margin-top: 21px;
    }
    .col-sm-6 .Read3{
        margin-top: 21px;
    }

    .col-sm-6 .Read4 {
        margin-top: 2px;
    }

    .btn-round-right {
        display: inline-block;
        border-top-right-radius: 5% 15px;
        border-bottom-right-radius: 5% 15px;
        background: #FFBD07;
        padding: 8px 40px;
        font-family: 'AvenirNextLTPro-DemiCn';
        font-size: 15px;
        text-align: center;
        color: #231f20;
        margin-bottom: 25px;
    }

    .col-md-4 {
        margin-left: 15px;
    }

    .box-news {
        background: #EEE;
        width: 363px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .box-news .titlehead {
        background: #013880;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #ffffff;
        padding: 20px 30px;
    }

    .box-news ul {
        padding: 30px;
        padding-bottom: 0px;
    }

    .box-news ul li {
        list-style: none;
        margin-bottom: 30px !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
    }

    .box-news ul li a {
        color: #000;
    }

    .box-news ul li a:hover {
        text-decoration: underline;
    }

    .box-news ul li .read-more {
        font-family: Arial, Helvetica, sans-serif;
        color: #FFF;
        background: #000;
        font-size: 12px;
        padding: 0px 10px;
        margin-left: 70px;
        display: inline-block;
        border-top-right-radius: 25% 15px;
        border-bottom-right-radius: 25% 15px;
        text-align: end;
    }

    .box-news ul li .read-more:hover {
        color: yellow;
    }

    .col-xs-6 {
        width: 50%;
    }

    .read-more .fa {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .box-news .row {
        margin-right: -15px;
        margin-left: -15px;
    }



    
    .profazreyeni{
        padding-top: 0px;
        margin-left: 0px;
    }
    .judulberita1 h1{
        margin-left: 15px;
        margin-right: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
    }
    .isiberita img{
        display:flex;
        margin-top: 0px;
        width: 330px;
        height: 300px;
        object-fit: cover;
    }
    .isiberita p{   
        padding-top: 10px;
        padding-right: 50px;
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-right: -30px;
    
    }
    .share{
        margin-top: 50px;
        margin-left: 15px;
    }

}

